body {
  box-sizing: border-box;
  margin: 0;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
}

.container {
  max-width: 600px;
  margin: auto;
  text-align: center;
  font-family: Arial, sans-serif;
}

h1 {
  color: #ececec;
}

.doctor-selection {
  margin: 20px 0;
}

.doctor-selection label {
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
}

.doctor-selection select {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
}